<div class="navbar" (click)="directHome()">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            home
        </mat-icon>
    </button>
    <div class="positionDescription">
        <span class="positionSpan">
            INÍCIO
        </span>
    </div>
</div>
<div class="navbar" (click)="directLocadores()">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            home
        </mat-icon>
    </button>
    <div class="positionDescription">
        <span class="positionSpan">
            LOCADORES
        </span>
    </div>
</div>
<div class="navbar" (click)="directLogin()">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            home
        </mat-icon>
    </button>
    <div class="positionDescription">
        <span class="positionSpan">
            Login
        </span>
    </div>
</div>
<div class="navbar" (click)="directLogin()">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            home
        </mat-icon>
    </button>
    <div class="positionDescription">
        <span class="positionSpan">
            Login
        </span>
    </div>
</div>
<div class="navbar" (click)="directLogin()">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            home
        </mat-icon>
    </button>
    <div class="positionDescription">
        <span class="positionSpan">
            Login
        </span>
    </div>
</div>
<div class="navbar" (click)="directResetPassword()">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            home
        </mat-icon>
    </button>
    <div class="positionDescription">
        <span class="positionSpan">
            Login
        </span>
    </div>
</div>
