<p class="headerStyle">
    <mat-toolbar color="primary">
      <div class="imageHeight">
        <p>menu</p>
      </div>
      <span class="spacerIntoText">{{customerName}}</span>
      <span class="example-spacer"></span>
      <button class="designLogout" mat-mini-fab class="example-icon" aria-label="Example icon-button with heart icon" (click)="Logout()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>
